:root {
	--text-purple: rgba(67, 56, 202, 1);
	--text-purple-dark: rgba(79, 70, 229, 1);
	--text-black: rgba(17, 24, 39, 1);
	--text-white-100: rgba(229, 231, 235, 1);
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url('/background.png');
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: #373B64;
}

a {
	text-decoration: none;
	color: inherit;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		background: black;
		color: white;
	}
}